@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', serif;
    background: linear-gradient(90deg, #00FF75 0%, #0C07EF 100%);
    box-shadow: 36px 28px 49px 15px #023002;
    background-image: url('https://w.forfun.com/fetch/a0/a07f5ba402519c1b99641b420bc95af1.jpeg?w=2500');
    margin: 0;
    overflow: auto; /* Убираем возможный отступ браузера и предотвращаем прокрутку */
    background-size: cover; /* Заполняет всю видимую область, сохраняя соотношение сторон */
    background-position: center; /* Выравнивание изображения по центру */
    background-repeat: no-repeat; /* Запрет повторения фонового изображения */
}


section {
    padding: 20px; /* Или другое значение, которое добавит пространства между секциями */
}

#first{
    color: aquamarine;
}

.nav-link {
    color: aquamarine;}

.navbar-nav .nav-link.active {
    color: rgb(166, 255, 77);
}
.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(38, 36, 36);
}

.navbar-toggler img {
    width: 31px;
}
.navbar-toggler-icon {
    background-image: url(/photo/ornament.png);
    background-size: cover;
}
.row {
    margin-top: 20px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.right {
    position: absolute;
    top: 0;
    margin-left: -20px;
    transition: color 0.3s;
    width: 31px;
}
.nav-link-a{
    color: #1a3512;
}
.right:hover{
    color: rgb(18, 35, 13);
}

.sidebar {
    color:aquamarine ;
    background: linear-gradient(270deg, #7000FF 0%, #FF6363 80%);
}

.a {
    color: rgb(188, 248, 129);
}
.b {
    color: rgb(107, 237, 100);
}
.c {
    color: cyan;
}

.card {
    color: rgb(0, 255, 255);
    background: linear-gradient(270deg,#7474BF, #348AC7);
}

.card a {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

.card {
    margin-top: 15px;
}

.footer-text{
    color: rgb(0, 228, 228);
    margin: auto auto;
}


.container {
    position: relative;
    max-width: 1000px; /* Максимальная ширина контейнера с контентом */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
  }

.full-width-image {
    width: 100vw; /* 100% ширины окна просмотра (viewport width) */
    height: 100vh; /* 100% высоты окна просмотра (viewport height) */
    object-fit: cover; /* Заполнение контейнера, сохраняя соотношение сторон и обрезая изображение при необходимости */
    position: fixed; /* Фиксированная позиция, чтобы изображение не прокручивалось с контентом */
    top: 0;
    left: 0;
}


.icon-container {
    width: 50px; /* Задайте желаемую ширину */
    height: 50px; /* Задайте желаемую высоту */
    border-radius: 10px; /* Радиус углов для гладких краев */
    overflow: hidden;
    cursor: pointer;
    display: inline-block; /* Размещаем как блочный элемент для установки ширины и высоты */
    margin: 20px; /* Пример отступа, можно настроить по вашему желанию */
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-link {
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    color: #3D9C6C; /* Цвет ссылки по умолчанию */
    transition: color 0.3s; /* Анимация смены цвета при наведении */
  }

  .custom-link:hover {
    color: #9ED478; /* Цвет ссылки при наведении */
  }

footer, 
.btn-outline-primary{
    background: linear-gradient(270deg, #FF7A00, #BD00FF);
}
